@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  letter-spacing: 0.3px;
}

.box_condition {
  display: flex;
}

@media (max-width : 900px) {
  .box_condition {
    flex-direction: column;
    padding-top: 40px;
  }

  .box_condition>div {
    justify-content: center;
  }
}

.animated {
  animation: float 5s linear infinite;
}

.shadow_gradient_pink {
  box-shadow: 10px 10px 170px -10px #fc67fa;
}

.shadow_gradient_blue {
  box-shadow: 10px 10px 120px -15px #67cffc;
}

.heading {
  @apply text-lg mx-auto text-center px-3 text-gray-900 w-[250px] py-2 border-b-4 border-yellow-600 font-semibold bg-yellow-300 rounded-3xl cursor-pointer;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
  z-index: -1;
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(250px);
  z-index: -1;
}

.white__gradient {
  background: rgba(255, 128, 0, 0.6);
  filter: blur(150px);
  z-index: -1;
}


/* Service box animation  */

.service_box {
  overflow: hidden;
  background-color: none;
  display: flex;
  white-space: nowrap;
  position: relative;
  overflow-x: hidden;
  mask-image: linear-gradient(to right,
      hsl(0 0% 0% / 0),
      hsl(0 0% 0% / 1) 10%,
      hsl(0 0% 0% / 1) 90%,
      hsl(0 0% 0% / 0));
  margin-top: 20px;
}

.service_box:hover .card_box {
  animation-play-state: paused;
}

.card_box {
  margin: 10px auto;
  animation: 15s slide infinite linear;
  display: flex;
  width: 2500px;
  background-color: none;
  white-space: nowrap;
  margin-right: 20px;
}


.float {
  flex: 0;
  width: 200px;
  cursor: pointer;
  @apply text-5xl text-gray-400;
  width: 250px;
  margin: 20px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}